.gallery {
    @include padding(150px,0px,150px,0px);
    &__block {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}